{{#if resume.projects.length}}
<div class="container project-container">
    {{> title value="Open Source Projects"}}

    {{#each resume.projects}}
        <section class="item">
            {{> project-section name=this.name website=this.url showWebsite=true}}

            {{#if keywords.length}}
                <div class="flex-container">
                    {{#each keywords}}
                        <h6 class="skill">{{.}}</h6>
                    {{/each}}
                </div>
            {{/if}}

            {{#if description}}
                <h4>
                    {{description}}
                </h4>
            {{/if}}

            {{#if highlights.length}}
                <ul class="list-section">
                    {{#each highlights}}
                    <li>{{.}}</li>
                    {{/each}}
                </ul>
            {{/if}}

            {{#if role}}
                <h5>{{role}}</h5>
            {{/if}}

            {{#if summary}}
                <p class="summary">{{summary}}</p>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
